/* MOBILE CSS */
@media(max-width: 468px) {
  .body {
      background: red;
   }
   
  .container {
    width: 218px;
    height: 353px;
  }
  .inside {
    flex-direction: column;
    width: 215px;
    height: 350px;    
  }
}