/* MOBILE CSS */
@media(max-width: 468px) {
.showcase {
    width: 13.5rem;
    height: 22rem;
  }
  .inside {
    flex-direction: column;
    width: 13.5rem;
    height: 22rem;    
  }
}
